[submodule "doxygen-awesome-css"]
	path = submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
